<nexcent-react-feature-secondary
    button-label="${htmlUtil.escape(configuration.buttonLabel)}"
    button-target="${htmlUtil.escape(configuration.buttonTarget)}"
    button-url="${htmlUtil.escape(configuration.buttonURL)}"
    description="${htmlUtil.escape(configuration.description)}"
    image-alt="${htmlUtil.escape(configuration.imageAlt)}"
    image-url="${htmlUtil.escape(configuration.imageURL)}"
    show-button="${configuration.showButton?c}"
    title="${htmlUtil.escape(configuration.title)}"
></nexcent-react-feature-secondary>
