**/*.iml
**/.ivy
**/.classpath
**/.project
**/.settings
**/.vscode
**/.DS_Store
**/.sass-cache
**/bin
**/build
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/bootstrap-workspace-tmp
/gradle-*.properties
.env
*.log
test-results
