[#if themeDisplay.isSignedIn()]
    <div class="nxc-header-actions nxc-account-actions nxc-user-profile-menu">
        [@liferay.user_personal_bar /]
    </div>
[#else]
    <div class="nxc-header-actions nxc-account-actions">
        <a
            class="nxc-button nxc-login-action"
            href="${themeDisplay.getURLSignIn()}"
        >
            ${configuration.loginLabel}
        </a>

        [#if configuration.showSignUp && configuration.signUpUrl?has_content]
            <a
                class="nxc-button nxc-signup-action"
                href="${configuration.signUpUrl}"
            >
                ${configuration.signUpLabel}
            </a>
        [/#if]
    </div>
[/#if]
