<nexcent-react-clients
    description="${htmlUtil.escape(configuration.description)}"
    logo-1-alt="${htmlUtil.escape(configuration.logo1Alt)}"
    logo-1-url="${htmlUtil.escape(configuration.logo1URL)}"
    logo-2-alt="${htmlUtil.escape(configuration.logo2Alt)}"
    logo-2-url="${htmlUtil.escape(configuration.logo2URL)}"
    logo-3-alt="${htmlUtil.escape(configuration.logo3Alt)}"
    logo-3-url="${htmlUtil.escape(configuration.logo3URL)}"
    logo-4-alt="${htmlUtil.escape(configuration.logo4Alt)}"
    logo-4-url="${htmlUtil.escape(configuration.logo4URL)}"
    logo-5-alt="${htmlUtil.escape(configuration.logo5Alt)}"
    logo-5-url="${htmlUtil.escape(configuration.logo5URL)}"
    logo-6-alt="${htmlUtil.escape(configuration.logo6Alt)}"
    logo-6-url="${htmlUtil.escape(configuration.logo6URL)}"
    show-ticker="${configuration.showTicker?c}"
    title="${htmlUtil.escape(configuration.title)}"
></nexcent-react-clients>
