<nexcent-react-statistics
    description="${htmlUtil.escape(configuration.description)}"
    highlight="${htmlUtil.escape(configuration.highlight)}"
    id="product"
    metric-1-icon-alt="${htmlUtil.escape(configuration.metric1IconAlt)}"
    metric-1-icon-url="${htmlUtil.escape(configuration.metric1IconURL)}"
    metric-1-label="${htmlUtil.escape(configuration.metric1Label)}"
    metric-1-value="${htmlUtil.escape(configuration.metric1Value)}"
    metric-2-icon-alt="${htmlUtil.escape(configuration.metric2IconAlt)}"
    metric-2-icon-url="${htmlUtil.escape(configuration.metric2IconURL)}"
    metric-2-label="${htmlUtil.escape(configuration.metric2Label)}"
    metric-2-value="${htmlUtil.escape(configuration.metric2Value)}"
    metric-3-icon-alt="${htmlUtil.escape(configuration.metric3IconAlt)}"
    metric-3-icon-url="${htmlUtil.escape(configuration.metric3IconURL)}"
    metric-3-label="${htmlUtil.escape(configuration.metric3Label)}"
    metric-3-value="${htmlUtil.escape(configuration.metric3Value)}"
    metric-4-icon-alt="${htmlUtil.escape(configuration.metric4IconAlt)}"
    metric-4-icon-url="${htmlUtil.escape(configuration.metric4IconURL)}"
    metric-4-label="${htmlUtil.escape(configuration.metric4Label)}"
    metric-4-value="${htmlUtil.escape(configuration.metric4Value)}"
    title="${htmlUtil.escape(configuration.title)}"
></nexcent-react-statistics>
