<nexcent-react-header
    login-label="${htmlUtil.escape(configuration.loginLabel)}"
    logo-alt="${htmlUtil.escape(configuration.logoAlt)}"
    logo-url="${htmlUtil.escape(configuration.logoURL)}"
    my-account-label="${htmlUtil.escape(configuration.myAccountLabel)}"
    show-account-actions="${configuration.showAccountActions?c}"
    sign-out-label="${htmlUtil.escape(configuration.signOutLabel)}"
    sign-up-label="${htmlUtil.escape(configuration.signUpLabel)}"
    site-id="${themeDisplay.getScopeGroupId()}"
></nexcent-react-header>
