<nexcent-react-footer
    company-heading="${configuration.companyHeading?html}"
    copyright-text="${configuration.copyrightText?html}"
    dribbble-url="${configuration.dribbbleURL?html}"
    instagram-url="${configuration.instagramURL?html}"
    logo-alt="${configuration.logoAlt?html}"
    logo-url="${configuration.logoURL?html}"
    newsletter-endpoint="${configuration.newsletterEndpoint?html}"
    newsletter-error-text="${configuration.newsletterErrorText?html}"
    newsletter-placeholder="${configuration.newsletterPlaceholder?html}"
    newsletter-submit-label="${configuration.newsletterSubmitLabel?html}"
    newsletter-submitting-text="${configuration.newsletterSubmittingText?html}"
    newsletter-success-text="${configuration.newsletterSuccessText?html}"
    newsletter-title="${configuration.newsletterTitle?html}"
    rights-text="${configuration.rightsText?html}"
    show-newsletter="${configuration.showNewsletter?c}"
    show-social-links="${configuration.showSocialLinks?c}"
    site-id="${themeDisplay.getScopeGroupId()}"
    support-heading="${configuration.supportHeading?html}"
    twitter-url="${configuration.twitterURL?html}"
    youtube-url="${configuration.youtubeURL?html}"
></nexcent-react-footer>
