<nexcent-react-testimonial
    author="${htmlUtil.escape(configuration.author)}"
    id="testimonial"
    image-alt="${htmlUtil.escape(configuration.imageAlt)}"
    image-url="${htmlUtil.escape(configuration.imageURL)}"
    link-label="${htmlUtil.escape(configuration.linkLabel)}"
    link-target="${htmlUtil.escape(configuration.linkTarget)}"
    link-url="${htmlUtil.escape(configuration.linkURL)}"
    organization="${htmlUtil.escape(configuration.organization)}"
    quote="${htmlUtil.escape(configuration.quote)}"
    show-partner-logos="${configuration.showPartnerLogos?c}"
></nexcent-react-testimonial>
